<div class="wrap-status">
    <p-tag value="Primary" />
    <p-tag severity="secondary" value="Secondary" />
    <p-tag severity="success" value="Success" />
    <p-tag severity="info" value="Info" />
    <p-tag severity="warn" value="Warn" />
    <p-tag severity="danger" value="Danger" />
    <p-tag severity="contrast" value="Contrast" />
</div>

<div class="wrap-custom-table">
    <div class="card">
        <p-table #dt [value]="products" (sortFunction)="customSort($event)" [customSort]="false"
            [tableStyle]="{ 'width': '100%' }">
            <ng-template #header>
                <tr>
                    <th pSortableColumn="code">
                        Code <p-sortIcon field="code" />
                    </th>
                    <th pSortableColumn="name">
                        Name <p-sortIcon field="name" />
                    </th>
                    <th pSortableColumn="category">
                        Category <p-sortIcon field="category" />
                    </th>
                    <th pSortableColumn="quantity">
                        Quantity <p-sortIcon field="quantity" />
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td>{{ product.code }}</td>
                    <td>
                        <span class="hyperLink">{{ product.name }}</span>
                    </td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>